# Основы pandas

In [1]:
import pandas as pd

Пример забора данных с сайтов

In [ ]:
import pymysql

connection

In [ ]:
!pip3 install lxml

In [ ]:
pd.read_html('http://www.cbr.ru')[0]

In [ ]:
page_url = 'https://www.finanz.ru/valyuty/usd-rub'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
df = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')

In [ ]:
df[:5]

Импорт данных из файла

In [ ]:
csv - comma

In [ ]:
data = pd.read_csv('power.csv')
data.head()

In [ ]:
data.head(30)

In [ ]:
data.tail(10)

In [ ]:
type(data)

In [ ]:
data.

In [ ]:
# если надо указать свои заголовки и разделитель
# data = pd.read_csv('power.csv', names = ['страна', 'год', 'количество', 'категория'], sep = '\t', header=0)
# data.head()

In [ ]:
?pd.read_csv

In [ ]:
# количество строк в датафрейме

len(data)

In [ ]:
# или так

data.shape

Простые вычисления для нового столбца

In [ ]:
data['year_plus_one'] = data['year'] + 1
data.head()

### Основные сведения о датафрейме

In [ ]:
data.info()

In [ ]:
2**64

In [ ]:
None

In [ ]:
# немного статистики

data.describe()

### Отдельный столбец (тип Series)

In [ ]:
data['year plus one'].head()

In [ ]:
# или так

data.year.head()

In [ ]:
type(data['year'])

In [ ]:
data.head()

In [ ]:
# уникальные значения в столбце

data['category'].unique()

In [ ]:
set([1, 1, 1, 2])

In [ ]:
len(data['category'].unique())

In [ ]:
data['category'].nunique()

In [ ]:
data['category'].head()

In [ ]:
# распределение количества строк по значениям столбца

data['category'].value_counts().head(10)

In [ ]:
data['category'].value_counts(normalize=True).head()

# Фильтры

In [67]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [ ]:
# выбрать несколько столбцов

country_stats = data.filter(items = ['country', 'quantity'])
country_stats.head()

In [ ]:
data['country']

In [ ]:
# или так

data[['country', 'quantity']].head()

### Отфильтруем строки с потреблением выше среднего

In [ ]:
average_level = data['quantity'].mean()
average_level

In [ ]:
'quantity > {}'.format(average_level)

In [ ]:
f'quantity > {average_level}'

In [ ]:
# строки с потреблением больше среднего

average_level = data['quantity'].mean()
country_stats.query('quantity > {}'.format(average_level)).head()

In [ ]:
if data.quantity > average_level:

In [ ]:
# самый популярный способ

data[ data.quantity > average_level ].head()

### Как определить используемый вариант названия страны?

In [ ]:
data['country'].unique()

In [ ]:
if 'rus' in 'Russia Federation':

In [ ]:
# найдем как называется Россия и Беларусь в этом датафрейме
# фильтр на подстроку - смотрим все страны, содержащие в названии 'us'

data[ data['country'].str.contains('us', case=False) ]['country'].unique()

In [ ]:
# фильтр на несколько условий сразу
# | - условие ИЛИ
# & AND
# () | (() | () & ())
filtered_countries = data[ (data['country']=='Russian Federation') | (data['country']=='Belarus') ]

filtered_countries.head()

In [ ]:
filtered_countries['country'].unique()

In [ ]:
# фильтры на номер строки

data.loc[1000:1005]

# Сортировка

In [ ]:
# Сортировка по столбцу

data.sort_values(by='quantity').head()

In [ ]:
# сортировка по убыванию

data.sort_values('quantity', ascending=False).head()

In [ ]:
# сортировка по нескольким столбцам

data.sort_values(by=['year', 'country', 'quantity'], ascending=[False, True, False]).head(50)

### Параметр inplace

In [ ]:
data.head()

In [ ]:
data = data.sort_values(['country', 'year'], ascending=[False, True])

In [ ]:
def calculation(data, inplace=True):
    data.sort_values(['country', 'year'], ascending=[False, True], inplace=inplace)

In [ ]:
data.sort_values(['country', 'year'], ascending=[False, True], inplace=True)

In [ ]:
data = data.sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, False])

# чтобы сократить это выражение используем inplace:
data.sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, False], inplace=True)

# Домашнее задание

## Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [64]:
df_rates = pd.read_csv('ml-100k/u.data', sep='\t', names=['user','movie','score','ts'])
df_rates.head()

   user  movie  score         ts
0   196    242      3  881250949
1   186    302      3  891717742
2    22    377      1  878887116
3   244     51      2  880606923
4   166    346      1  886397596

In [63]:
df_movies = pd.read_csv('ml-100k/u.item', sep='|', encoding='cp1251', 
                        names=['movie','title','released','video_released','IMDb',
                               'unknown','Action','Adventure','Animation','Children','Comedy','Crime',
                               'Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery',
                               'Romance','Sci-Fi','Thriller','War','Western'])
df_movies.head()

,movie,title,released,video_released,IMDb,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [65]:
most_rated = list(df_rates[df_rates.score == 5]['movie'].value_counts().items())[0][0]

In [66]:
df_movies[df_movies.movie == most_rated]

,movie,title,released,video_released,IMDb,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
49,50,Star Wars (1977),01-Jan-1977,NaN,http://us.imdb.com/M/title-exact?Star%20Wars%2...,0,1,1,0,0,...,0,0,0,0,0,1,1,0,1,0

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [103]:
data[data.country.isin(['Latvia','Lithuania','Estonia']) & 
     data.category.isin([4,12,21]) & 
     data.year.between(2005,2010) & 
     (data.quantity >= 0)]['quantity'].sum()

240580.0

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [97]:
pd.read_html('https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html')[2].head()

,0,1
0,abs(),Return a Series/DataFrame with absolute numeri...
1,"add(other[, level, fill_value, axis])","Return Addition of series and other, element-w..."
2,add_prefix(prefix),Prefix labels with string prefix.
3,add_suffix(suffix),Suffix labels with string suffix.
4,"agg([func, axis])",Aggregate using one or more operations over th...